@model WebApplication26.Models.Logincs

@{
    ViewData["Title"] = "Index";
}

<Head>
    <link href="~/css/Login.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a54cb92d55.js" crossorigin="anonymous"></script>
   
</Head>
<body>
<h1 class="Title">
    MANAS
</h1>
<h2>LOGIN/SIGN UP</h2>
<div class="containerlogin" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span>
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form asp-action="Index">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            @*<input type="hidden" asp-for="Username" />*@
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign-In" class="btn btn-primary" />
            </div>



        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp" onclick="location.href='@Url.Action("Create", "StudentDetails")'">
                    Sign Up-Student
                </button>
                <button class="ghost" id="signUp" onclick="location.href='@Url.Action("Create", "FacultyDetails")'">Sign Up-Faculty</button>
                <button class="ghost" id="signUp"onclick="location.href='@Url.Action("Create", "AdminDetails")'">Sign Up-Admin</button>
            </div>
            
        </div>
    </div>
</div>
    </body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
